<div class="login-main-div">
	<div class="wrapper-admin">
		{{#if message}}
			{{>message}}
		{{/if}}
		<form action="/admin/login" method="post">
			<h1>Login</h1>
			<div class="input-box-admin">
				<input type="text" placeholder="Username" name="username" required>
				<i class='bx bxs-user'></i>
			</div>
			<div class="input-box-admin">
				<input type="password" name="password" placeholder="Password" required>
				<i class='bx bxs-lock-alt' ></i>
				
			</div>

			<div class="remember-forgot-admin">
				<label ><input type="checkbox">Remember me</label>
				{{!-- <a href="#">Forgot password</a> --}}
			</div>
			<button type="submit" class="btn-admin">Login</button>
			{{!-- <div class="register-link-admin">
				<p>Don't have an account?<a href="/signup">
				Register
				</a></p>
			</div> --}}
			
		</form>
	</div>
</div>