<div class="login-main-div">
	<div class="wrapper-admin">
		<form action="">
			<h1>Login</h1>
			<div class="input-box-admin">
				<input type="text" placeholder="Username" required>
				<i class='bx bxs-user'></i>
			</div>
			<div class="input-box-admin">
				<input type="password" placeholder="Password" required>
				<i class='bx bxs-lock-alt' ></i>

			</div>
			<div class="remember-forgot-admin">
				<label ><input type="checkbox">Remember me</label>
				<a href="#">Forgot password</a>
			</div>
			<button type="submit" class="btn-admin">Login</button>
			
		</form>
	</div>
</div>