<!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
             NATIONALPALS
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/admin/dashboard" >
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/products" >
              <span class="material-icons-outlined">inventory_2</span> Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/categories" >
              <span class="material-icons-outlined">category</span> Categories
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/partners" >
              <span class="material-icons-outlined">groups</span> Partners
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/images" >
              <span class="material-icons-outlined">image</span> Images
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/logout" >
              <span class="material-icons-outlined">logout</span> Logout
            </a>
          </li>
          
        </ul>
      </aside>
      <!-- End Sidebar -->