        {{#if alert}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{#each alert}}
         <p class="" style="color: red;">{{msg}}</p> 
          {{/each}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#if alert1}}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{#each alert1}}
         <p class="" style="color: red;">{{msg}}</p> 
          {{/each}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#if alert2}}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{#each alert2}}
         <p class="" style="color: red;">{{msg}}</p> 
          {{/each}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#if postErr}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{#each postErr}}
         <p class="" style="color: red;">{{msg}}</p> 
          {{/each}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        