 <!-- ====== footer-area-start ============================================ -->
        <footer> 
            <div class="footer-area footer-bg">
                <div class="footer-top pt-80 pb-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4  col-lg-4  col-md-6  col-sm-6 col-12 ">
                                <div class="footer-widget f-adress pb-40 pr-100">
                                    <img src="images/footer/footer-logo.png" alt="">
                                    <p class="pt-18">Sed perspiciatis unde omnisse natus error voluptatem accusan doloreqe laudantium totam</p>
                                    <ul class="footer-address mt-30">
                                        <li class="mb-25">
                                            <span class="pr-1"><i class="fas fa-map-marker-alt"></i></span> 
                                            250 Main Street. USA
                                        </li>
                                        <li class="mb-25">
                                            <span class="pr-1"><i class="far fa-envelope"></i></span> 
                                            supportinfo@gmail.com
                                        </li>
                                        <li>
                                            <a href="tell:+898-123-456-98"><span class="pr-1"><i class="fas fa-phone"></i></span> +898 - 123 - 456 - 98</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /col -->
                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 pl-xl-0">
                                <div class="footer-widget f-link pb-30 ml--15">
                                    <h5 class="text-white pb-30">Quick Links</h5>
                                    <ul class="footer-info">
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Discount Returns</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Customer Service</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Term & condition</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Specials Offers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /col -->
                            <div class="col-xl-2  col-lg-2  col-md-6  col-sm-6 col-12 ">
                                <div class="footer-widget pb-30">
                                    <h5 class="text-white pb-30">Account</h5>
                                    <ul class="footer-account">
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">My Account</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Order History</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Wish List</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Specials</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Information</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="position-relative d-inline-block">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /col -->
                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 d-flex justify-content-lg-end">
                                <div class="footer-widget f-payment pb-30">
                                    <h5 class="text-white pb-30">Follow Us</h5>
                                    <ul class="social-link">
                                        <li class="d-inline-block">
                                            <a class="active white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-behance"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-youtube"></i></a>
                                        </li>
                                    </ul><!-- social-link -->
                                    <h5 class="text-white pb-25 mt-10">Payments</h5>
                                    <div class="footer-payment">
                                        <img class="w-100" src="images/footer/payment-img.png" alt="">
                                    </div>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="copyright-area pt-25 pb-25 border-t-gray3">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                    <div class="copyright-text d-sm-flex justify-content-center align-items-center text-center">
                                        <p class="mb-0">© Copyright 2022
                                             <a href="#" class="c-theme">KingStock.</a>
                                              All rights reserved.
                                        </p>
                                    </div>
                                </div><!-- /col -->
                            </div><!-- /row -->
                        </div><!-- /copyright-area -->
                    </div><!-- /container -->
                </div>
            </div>
        </footer>

        <!-- back top -->
        <div class="scroll-up" id="scroll">
            <a href="#" class="theme-bg white d-block text-center position-fixed mr-10">
                <span class="icon-chevrons-up"></span>
            </a>
        </div>