<div class="service-area pt-90 mb-65">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-delivery-truck"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">Free Transport</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-redo"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">Money Back</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-shield"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">Trusted & Security</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-tools"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">24/7 Support</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- service-area-end  -->