MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.gjk5cjf.mongodb.net/nationalpal?retryWrites=true&w=majority
SECRET_KEY=
USER_NAME=admin
PASSWORD=
PORT=3000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=nationalpals
