<!DOCTYPE html>
<html>
  <head>
   {{>head}}
  </head>
  <body> 
    {{#if error}}
    {{>404}}
    {{else}}
    {{#if admin}}
    {{!-- {{>adminNavbar}} --}}
    {{else}}
    
   {{>navbar}}
   {{/if}}
    {{{body}}}

     {{#if admin}}
    
    {{else}}
    {{>footer}}
   {{/if}}
 
 {{/if}}
  {{>scripts}}
  </body>
</html>
