<main>

            <!-- ======slider-area-start=========================================== -->
            <div class="slider-area over-hidden">
                <div class="page-height d-flex align-items-center justify-content-center position-relative" data-background="images/slider/page-bg.jpg">
                    <div class="slider-shape position-absolute z-index1">
                        <span class="slider-bg-round d-block"></span>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="page-title b-l pt-100 text-center position-relative z-index1">
                                <h2 class="text-capitalize font600 mb-10">Contact Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item"><a class="primary-color" href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active text-capitalize" aria-current="page">Contact Us</li>
                                    </ol>
                                </nav>
                            </div><!-- /page title -->
                        </div><!-- /col -->
                    </div>
                </div><!-- /single-slider -->
            </div>
            <!-- slider-area-end  -->
           
            <!-- ====== contact-form-area-start=============================================== --> 
            <div class="contact-form-area over-hidden pt-30">
                <div class="container">
                    <div class="row">                     
                        <div class="col-xl-4  col-lg-4  col-md-12  col-sm-12 col-12">
                            <div class="contact-form-left mt-55 pr-40">
                                <div class="section-title text-left pb-20">
                                    <h4 class="dark-black-color pb-3 d-block">Contact us</h4>
                                        <p>For any feedbacks or improvements on our online store, please fill in this contact form. We will take a look and reply you within 24 hours. We always need your feedbacks to continuously leverage your shopping experience.</p>
                                </div><!-- /section-title -->
                                {{!-- <ul class="social-link mt-20">
                                    <li class="primary-color d-dlock d-sm-inline-block pr-15">
                                        <span>Social Share:</span>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="active primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-behance"></i></a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-youtube"></i></a>
                                    </li>
                                </ul> --}}
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-8  col-lg-8  col-md-12 col-sm-12 col-12">
                            {{>message}}
                            <div class="contact-form-right mt-55">
                                <form action="/message" class="text-center" method="post">
                                    <h4 class=" text-left dark-black-color pb-15 d-block">Write to us</h4>
                                        <div class="row">
                                            <div class="col-xl-6  col-lg-6  col-md-6  col-sm-12 col-12">
                                                <div class="name mb-20">
                                                    <input type="text" class="form-control primary-bg2" name="name" id="name" placeholder="Name*" required >
                                                </div>
                                            </div><!-- /col -->
                                            <div class="col-xl-6  col-lg-6  col-md-6  col-sm-12 col-12">
                                                <div class="email mb-20">
                                                    <input type="email" class="form-control primary-bg2" name="email" id="c-email" placeholder="Email*" required>
                                                </div>
                                            </div><!-- /col -->
                                        </div><!-- /row -->
                                    <div class="subject mb-20">
                                        <input type="text" class="form-control primary-bg2" name="subject" id="subject" placeholder="Subject*" required>
                                    </div>
                                    <div class="comment mb-25">
                                        <textarea name="message" class="form-control primary-bg2" id="message" placeholder="Comments" required></textarea>
                                    </div>
                                    <button type="submit" class="buttonNoneStyle">
 <a class="web-btn d-inline-block theme-bg white text-uppercase over-hidden position-relative border-theme02 ptb-10 pl-40 pr-40">
                                        Submit message<span class="pl-2"><i class="fas fa-long-arrow-alt-right"></i></span>
                                    </a>
                                    </button>
                                   
                                </form>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- contact-form-area-end -->
            
            <!-- ====== contact-information-area-start=============================================== --> 
            <div class="contact-information-area position-relative mt--35">
                <div class="container">
                    <div class="row theme-bg no-gutters contact-information-height align-items-center pt-75 pb-50">
                        <div class="col-xl-4  col-lg-4  col-md-6  col-sm-12 col-12">
                            <ul class="contact-address text-center text-md-left transition-3 d-md-flex justify-content-center align-items-center width100 mb-30">
                                <li>
                                    <span class="contact-icon theme-color transition-3 white-bg text-center d-inline-block  mr-20"><i class="fas fa-map-marker-alt"></i></span>
                                </li>
                                <li>
                                    <span class="white font600 pb-6">Our Branches</span>
                                    {{#each branches}}
                                    <p class="mb-1 white">{{this.name}}</p>
                                    {{/each}}
                                </li>
                            </ul>  
                        </div><!-- /col -->
                        <div class="col-xl-4  col-lg-4  col-md-6  col-sm-12 col-12">
                            <ul class="contact-address text-center text-md-left transition-3 d-md-flex justify-content-center align-items-center  width100  mb-30">
                                <li>
                                    <span class="contact-icon theme-color transition-3 white-bg text-center d-inline-block mr-20"><i class="fas fa-phone"></i></span>
                                </li>
                                <li>
                                    <span class="white d-block font600 pb-6">Phone Number</span>
                                    {{#each branches}}
                                    <p class="mb-1 white">{{this.mobile}}</p>
                                    {{/each}}
                                </li>
                            </ul>
                        </div><!-- /col -->
                        <div class="col-xl-4  col-lg-4  col-md-6  col-sm-12 col-12">
                            <ul class="contact-address text-center text-md-left transition-3 d-md-flex justify-content-center width100 mb-30">
                                <li>
                                    <span class="contact-icon theme-color white-bg transition-3 text-center d-inline-block mr-20"><i class="fas fa-envelope"></i></span>
                                </li>
                                <li>
                                    <span class="white font600 pb-6">Email Support</span>
                                    {{#each branches}}
                                    <p class="mb-1 white">{{this.email}}</p>
                                    {{/each}}
                                </li>
                            </ul>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- contact-information-area-end -->

            <!-- ====== contact-map-area-start=============================================== --> 
            <div class="contact-map w-100 mb--6">
                <div class="container-fluid px-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5406050415095!2d-0.12174238460793235!3d51.50329727963452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sbd!4v1605927392577!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
            <!-- contact-map-area-end  -->

        </main>