<main>

            <!-- ======slider-area-start=========================================== -->
            <div class="slider-area over-hidden">
                <div class="page-height d-flex align-items-center justify-content-center position-relative" data-background="images/slider/page-bg.jpg">
                    <div class="slider-shape position-absolute z-index1">
                        <span class="slider-bg-round d-block"></span>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="page-title b-l pt-100 text-center position-relative z-index1">
                                <h2 class="text-capitalize font600 mb-10">About Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item"><a class="primary-color" href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active text-capitalize" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div><!-- /page title -->
                        </div><!-- /col -->
                    </div>
                </div><!-- /single-slider -->
            </div>
            <!-- slider-area-end  -->
           
            <!-- ====== about-area-start=============================================== --> 
            <div class="about-area over-hidden pt-120">
                <div class="container">
                    <div class="row justify-content-center">                     
                        <div class="col-xl-6 col-lg-6  col-md-12  col-sm-12 col-12">
                            <div class="about-left mb-90 pr-20">
                                <div class="about-title text-left pb-20">
                                    <h2 class="theme-color pb-20 d-block font600">Welcome to Nationalpals</h2>
                                    <h3 class="font500 mb-50">Our Success <br>
                                        And Company History.</h3>
                                    <div class="about-quote">
                                        </blockquote>
                                    </div>
                                    <p>From the begining, with clear vision to serve the electricity and telecom sectors providing specialized products that ease and improve the fieldworks of electrical and telecom. National PALS started with a showroom in Jeddah, Saudi Arabia in 2010 employing the vast experience of its founders in the market. Since then, National PALS maintains continues success and growth over the years. Nowadays, we are suppling main and sub contractors and maintainance companies from over the kingdom through Five branches distributed in the main cities offering over five thousand items available in stock in our warehouses. </p>
                                </div><!-- /section-title -->
                                <div class="founder-dtl mt-20">
                                    <div class="signature mb-35">
                                        <img src="images/about/signature.png" alt="">
                                    </div><!-- /signature -->
                                    <div class="founder-name">
                                        <h6> 
                                            <span class="theme-color font600">Jemshy Babu</span>
                                            <span class="font300">- Founder of Nationalpals</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-5  col-lg-6  col-md-12 col-sm-12 col-12">
                            <div class="about-right mb-90">
                                <img src="images/about/abou-img.jpg" alt="">
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- about-area-end -->

            <!-- ====== about-video-area-start=============================================== --> 
            <div class="about-us-video-area mt-30">
                <div class="container-wrapper extra-padding-15">
                    <div class="about-us-video about-video-bg position-relative">
                        <img class="d-block" src="images/about/video-bg.jpg" alt="">
                        <a data-fancybox="" class="video-player-btn circle-animation position-absolute" href="https://www.youtube.com/watch?v=f2Q6jbHR0d4">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div><!-- /container -->
            </div>
            <!-- about-video-area-end -->
            
            <!-- ====== about-ser-information-area-start=============================================== --> 
            <div class="about-quote-area pt-105 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-6 col-md-12 col-12">
                            <div class="about-quote-wrapper-2">
                                <blockquote>
                                    <img src="images/about/quotation.png" alt="">
                                    <p>We know that good tech matters to build our future.</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-12 col-12">
                            <div class="about-quote-content">
                                <p>We help our clients succeed by creating brand identities, digital experiences, and print materials that communicate clearly, achieve marketing goals, and look fantastic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about-ser-information-area-end -->

            <!-- ====== testimonial-area-start ========================================= --> 
            <div class="testimonial-area testimonial-bg pt-130 pb-150" data-background="images/about/testi-bg.jpg">
                <div class="container">
                    <div class="testimonial-active">
                        <div class="row align-items-center pb-55">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="user-comment text-center">
                                    <div class="testi-author">
                                        <img class="d-inline-block mb-20" src="images/product-details/client-avater2.png" alt="">
                                        <h6 class="author-name font500 pb-1 text-white">Dason K. Aanato
                                        <span class="author-p font400 d-block pt-2">Ceo &amp; Co</span></h6>
                                    </div>
                                    <div class="quit text-white mt-40"><i class="fas fa-quote-right"></i></div>
                                        <blockquote class="testimonials-text mt-25 pr-80 pl-80 text-white font300">
                                        “ For me the most important part of improving at photography has been sharing it. <br>
                                        Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re photography. Minimalist approach, bright colors, abstract shapes and curved lines are the defining features of these <br>
                                        products designed to be extremely functional, user-friendly and fun. ”</blockquote>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                        <div class="row align-items-center pb-55">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="user-comment text-center">
                                    <div class="testi-author">
                                        <img class="d-inline-block mb-20" src="images/product-details/client-avater1.png" alt="">
                                        <h6 class="author-name font500 pb-1 text-white">Aasen Hnato
                                        <span class="author-p font400 d-block pt-2">Ceo &amp; Co</span></h6>
                                    </div>
                                    <div class="quit text-white mt-40"><i class="fas fa-quote-right"></i></div>
                                        <blockquote class="testimonials-text mt-25 pr-80 pl-80 text-white font300">
                                        “ For me the most important part of improving at photography has been sharing it. <br>
                                        Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re photography. Minimalist approach, bright colors, abstract shapes and curved lines are the defining features of these <br>
                                        products designed to be extremely functional, user-friendly and fun. ”</blockquote>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div>
                </div><!-- /container -->
            </div>
            <!-- testimonial-area-end  -->

            <!-- ====== subscribe-area-start ========================================= -->
            <div class="subscribe-area pt-75 pb-25 wow slideInUp" data-background="images/bg/subscribe-bg.jpg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-5  col-lg-4  col-md-12  col-sm-12 col-12">
                            <div class="section-title  mb-50">
                                <span class="theme-color d-block pb-2">Get More Updates</span>
                                <h3>Our Newsletters</h3>
                            </div><!-- /section-title -->
                        </div><!-- /col -->
                        <div class="col-xl-7  col-lg-8  col-md-12  col-sm-12 col-12">
                            <div class="subscribe-form-area subscribe-form-area1 mb-50">
                                <form action="#" class="d-sm-flex align-items-center justify-content-between">
                                    <div class="subscribe-info position-relative mr-20">
                                        <input class="sub-name form-control border-0 pl-35 theme-color" type="email" name="name" id="sub-name" placeholder="Enter Your Email Address">
                                    </div>
                                    <div class="subscribe-btn">
                                    <a href="#" class="web-btn d-block theme-bg white text-uppercase over-hidden position-relative plr-48 px-5">
                                        Subscribe Now<span class="pl-2"><i class="fas fa-long-arrow-alt-right"></i></span>
                                    </a>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- subscribe-area-end  -->

            <!-- ====== service-area-start ========================================= -->
            <div class="service-area pt-90 mb-65">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-delivery-truck"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">Free Transport</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-redo"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">Money Back</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-shield"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">Trusted & Security</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                            <div class="single-service d-flex align-items-center justify-content-lg-center mb-25">
                                <div class="s-ser-icon mr-15">
                                    <span class="theme-color flaticon-tools"></span>
                                </div>
                                <div class="s-ser-content">
                                    <h5 class="mb-1">24/7 Support</h5>
                                    <p class="mb-0">Conditions Apply</p>
                                </div>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- service-area-end  -->
        </main>